body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

#canvas-container {
  flex-grow: 1; /* Allow the container to grow and push the footer down */
  display: flex;
  justify-content: center; /* Center canvas horizontally */
  align-items: center; /* Center canvas vertically */
  height: 90vh; /* 90% viewport height */
  margin-top: 10px;
}

canvas {
  max-width: 100%; 
  max-height: 100%; 
}

/* Sticky footer styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer img {
  width: 20px; 
  vertical-align: middle;
  margin-right: 5px;
}

/* Styles for Animation Controls */


.animation-controls {
  text-align: center;
  padding: 20px 0;
  background-color: #444;
  color: white;
}

.animation-controls label {
  margin: 0 10px;
  font-size: 16px;
}

.animation-controls input[type="checkbox"] {
  margin-right: 8px;
}

/* Styles for Gap Controls */
.gap-controls {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #555;
  color: white;
}

.gap-controls .gap-min-controls,
.gap-controls .gap-max-controls {
  flex: 1;
  text-align: center;
}

.gap-controls label {
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

.gap-controls input[type="range"] {
  width: 80%;
  margin: 10px auto;
  display: block;
}

.gap-controls output {
  display: block;
  margin: 0 auto 10px auto;
}

.gap-controls input[type="number"] {
  width: 60px;
  margin: 0 auto;
  display: block;
}
